    <table border ="2" cellspacing="0" cellpadding="4">
        <tr>
            <th colspan="2">Employee Details</th>
        </tr>
        <tr>
            <td>Employee ID</td>
            <td>{{empno}}</td>
        </tr>
        <tr>
            <td>Employee Name</td>
            <td>{{ename}}</td>
        </tr>
        <tr>
            <td>Employee Job</td>
            <td>{{job}}</td>
        </tr>
        <tr>
            <td>Employee Salary</td>
            <td>{{salary}}</td>
        </tr>
        <tr>
            <td>Employee Depno</td>
            <td>{{deptno}}</td>
        </tr>
    </table>
